# Name assigned to VPC and associated resources
project_name = ""
# Region where resources will be deployed
region = "jp-tok"
# Resource group name for deployed resources
resource_group = "CDE"
# The public ssh key to add to the compute instances
ssh_key = ""
