MINIO_VOLUMES="{% for host in servers %} http://\"{{ hostvars[host].ansible_ens3.ipv4.address }}\":9000  {% endfor %}"
MINIO_OPTS="-C /etc/minio --address \"{{ hostvars[host].ansible_ens3.ipv4.address }}:9000\""
MINIO_ACCESS_KEY="{{ access_key }}"
MINIO_SECRET_KEY="{{ secret_key }}"
